html,
body {
  height: 100%;
  margin: 0;
}
p {
  color: #eae9ec;
}
a {
  color: #5b399f;
}
.content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.theme {
  background: linear-gradient(black, black),
    url("https://images.pexels.com/photos/9065305/pexels-photo-9065305.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(3px);
}
.container {
  padding: 0;
  height: 70%;
  margin: auto;
  background: url("https://images.pexels.com/photos/9065305/pexels-photo-9065305.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weatherInfo {
  padding: 3rem;
  flex-grow: 1;
}
.weatherInfo ul {
  padding: 1rem 1rem 0;
}
.dateMobileShow .date {
  font-size: 1rem;
}
.dateMobileShow span {
  font-size: 1rem !important;
}
.time #currentTime {
  font-size: 5rem;
}
.time span {
  font-size: 1rem;
}
.cityName {
  text-align: end;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.cityName div {
  flex-grow: 2;
}
.cityName span {
  flex-grow: 0.1;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
}
.cityName span:hover {
  color: #a3bce2;
}
.cityName h2 {
  font-size: 2.5rem;
}
.searchCity {
  margin-left: 3rem;
  align-content: end;
}
form {
  width: 82%;
  display: flex;
  padding-left: 1rem;
}
input {
  flex-grow: 1;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: none;
}
button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.weatherStatus {
  padding: 1rem 0 2rem;
  background-color: #353b49;
  opacity: 0.9;
  margin: 0;
  justify-content: space-evenly;
}
.cityStatusTitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: fit-content;
  padding: 0 3rem;
}
.cityStatusTitle label {
  background-color: #a3bce2;
  border: none;
  color: #fff;
  font-weight: bold;
}
.currentStatusLogo,
.currentStatusTemperature,
.nextDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nextDay {
  justify-content: space-between;
}
.currentStatusLogo img {
  width: 100px;
}
.currentStatusTemperature p {
  background-color: #2c3034;
  font-weight: bold;
  border-radius: 20px;
  padding: 2px 9px;
  font-size: 1rem;
}
.currentStatusTemperature h2 {
  font-size: 2.5rem;
}
.temperatureUnit {
  font-weight: 100;
}
.temperature.max {
  font-weight: bolder;
}
.temperature.min {
  opacity: 0.5;
}
.nextDay img {
  width: 3rem;
}
.nextDay > :first-child {
  background-color: #2c3034;
  font-weight: bold;
  border-radius: 20px;
  padding: 2px 9px;
  font-size: 0.7rem;
}
.convertTemp {
  cursor: pointer;
}
.footer p {
  color: #99979d;
  text-align: center;
  padding: 2rem;
}
.preLoader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  position: relative;
  height: 3rem;
}

.spinner img {
  animation: spinner-4t3wzl 1.875s infinite backwards;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.spinner img:nth-child(1) {
  animation-delay: 0.15s;
  background-color: rgba(71, 75, 255, 0.9);
}

.spinner img:nth-child(2) {
  animation-delay: 0.3s;
  background-color: rgba(71, 75, 255, 0.8);
}

.spinner img:nth-child(3) {
  animation-delay: 0.45s;
  background-color: rgba(71, 75, 255, 0.7);
}

.spinner img:nth-child(4) {
  animation-delay: 0.6s;
  background-color: rgba(71, 75, 255, 0.6);
}

.spinner img:nth-child(5) {
  animation-delay: 0.75s;
  background-color: rgba(71, 75, 255, 0.5);
}
.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  z-index: 999999;
}
@keyframes spinner-4t3wzl {
  0% {
    transform: rotate(0deg) translateY(-200%);
  }

  60%,
  100% {
    transform: rotate(360deg) translateY(-200%);
  }
}

.spinner img {
  width: 3rem;
}
@keyframes spinner-c601d3 {
  0% {
    opacity: 0.5;
    transform: scale(0) translateX(-300%);
  }

  50% {
    opacity: 1;
    transform: scale(1.25) translateX(0);
  }

  100% {
    opacity: 0.3;
    transform: scale(0) translateX(300%);
  }
}

@media only screen and (min-width: 768px) {
  .currentStatusTemperature {
    flex-basis: max-content;
  }
}
@media only screen and (max-width: 912px) {
  .container {
    height: 90%;
  }
  form {
    width: 100%;
    padding-left: 0;
  }
  .cityStatusTitle {
    padding: 0 2rem;
  }
}
@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 576px) {
  .weatherStatus {
    padding: 1rem 0;
  }
  .container {
    height: 100%;
    background-position: center;
  }
  .cityInfo {
    padding: 2rem;
  }
  form {
    width: 100%;
  }
  .searchCity {
    margin: 1rem;
  }
  .cityName {
    text-align: start;
  }
  .cityStatusTitle {
    padding: 0 0.8rem;
  }
  .nextDay .temperature {
    font-size: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .nextDay img {
    width: 2rem;
  }
}
